<div class="custom-height-relative">
    <div class="sitesView" id="chat-trigger" data-trigger="#chat">
        <a href="#chat" data-ng-click="tree()"></a>
    </div>
    <aside id="chat" class='treeScroll'>
        <div class="sidebar-header">
            <h4>{{slide.name}}</h4>
        </div>
        <hr class="custom-line">
        <div class="tree well">
            <ul class="custom-ul" style="pointer-events:none">
                <li>
                    <span><i class="fa fa-folder-open"></i></span><label class="margin-left-label">{{slide.name}}</label>
                    <ul style="pointer-events:auto">
                        <li data-ng-repeat="overlayInfo in slide.overlayInfos" ng-if="overlayInfo.overlayInfo == null">
                            <span id="sp{{overlayInfo.id}}"><i class="fa fa-file-image-o"></i></span> <label class="margin-left-label" data-ng-click="drawOverlay(overlayInfo)" id="la{{overlayInfo.id}}">{{overlayInfo.name}}</label>
                            <ul id="{{overlayInfo.id}}"></ul>
                        </li>
                        </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
    <div class="card custom-card custom-height-relative">
        <div class="card-block custom-card-block image-wrap custom-height-relative custom-height">
            <div>
                <a class="float-right" id="add" title="Draw"><i class="fa fa-pencil-square-o fa-3x"></i></a>
                <!--<input class="float-right margin-right" type="color" data-ng-show="login" id="html5colorpicker" ng-model="color">-->
                <a class="float-right  margin-right" id="custom-color-picker" title="Pick Color" data-ng-show="login"> <input type="text"  ng-model="color" id="full"/></a>
                <a class="float-right  margin-right" id="lineWidth" title="Line Width" data-ng-show="login">
                    <select ng-model="lineWidth" class="custom-dialog-input">
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                    </select>
                </a>
                <a class="float-right margin-right" id="clear" title="Clear" data-ng-show="login" ng-class="enable ? 'saveButtonEnable' : 'saveButtonDisable'" data-ng-click="clear()"><i class="fa fa-eraser fa-3x"></i></a>
                <a class="float-right margin-right" title="Save" id="save" data-ng-show="login" ng-class="enable ? 'saveButtonEnable' : 'saveButtonDisable'" data-ng-click="openDialog()"><i class="fa fa-floppy-o fa-3x"></i></a>
                <a class="float-right margin-right" id="remove" title="View" data-ng-show="login"><i class="fa fa-hand-rock-o fa-3x"></i></a>
            </div>
            <!--<div>-->
                <!--<a class="float-right" id="remove"><i class="fa fa-hand-pointer-o fa-3x"></i></a>-->
            <!--</div>-->
            <div data-ng-click="redirect(slides[$index+1].id)" class="image-wrap" id="container">
                <div id="navi" class="openseadragon1"></div>
                <div class="discription_box" data-ng-show="isDescription">
                    <div class="modal-header">
                        <button type="button" class="close"   data-ng-click="closeDescription();" style="color:red;opacity:1;">&times;</button>
                        <h4 class="modal-title">Description</h4>
                    </div>
                    <div class="description_body c-overflow">
                        <p class="custom-paragraph">{{description}}</p>
                    </div>
                    <div class="modal-footer" data-ng-hide="header">
                        <button type="button" class="btn btn-default" ng-class="admin ? 'edit_color' : 'edit_color_disabled'" title="Edit Overlay" data-ng-disabled="!admin" data-ng-click="editOverlay()">Edit</button>
                        <button type="button" class="btn btn-default" ng-class="admin ? 'remove_color' : 'remove_color_disabled'" title="Remove Overlay" data-ng-disabled="!admin" data-ng-click="remove()">Remove</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<div class="custom_spinner" ng-hide="loaded">
    <div class="spinner"></div>
</div>
<div class="modal fade" id="addOverlay" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"  data-ng-click="resetData();">&times;</button>
                <h4 class="modal-title" ng-hide="edit">Add Overlay</h4>
                <h4 class="modal-title" ng-show="edit">Edit Overlay</h4>
            </div>
            <div class="modal-body">
                <div id="assignErrorMsg" ng-show="isError == true" class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" ng-click="closeError()" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {{errorMsg}}
                </div>
                <div class="row margin-top-dialog">
                    <div class="col-md-2"></div>
                    <div class="col-md-3 text-align-center">
                        <label>name</label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" placeholder="e.g. name" class="dialog-input" ng-model="overlayInfo.name" id="overlayName">
                    </div>

                </div>
                <div class="row margin-top-dialog"  data-ng-show="slide.overlayInfos.length > 0">
                    <div class="col-md-2"></div>
                    <div class="col-md-3 text-align-center">
                        <label>Parent</label>
                    </div>
                    <div class="col-md-7">
                        <select ng-model="overlayInfo.parent" class="dialog-input" id="parent">
                            <option value = -1 >- Select parent -</option>
                            <option data-ng-repeat="overlay in slide.overlayInfos" value={{overlay.id}}>{{overlay.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row margin-top-dialog">
                    <div class="col-md-2"></div>
                    <div class="col-md-3 text-align-center">
                        <label>Description</label>
                    </div>
                    <div class="col-md-7">
                        <textarea type="text" class="custom-textArea" placeholder="e.g. description"  ng-model="overlayInfo.description"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-ng-click="saveOverlay();">Save</button>
                <button type="button" class="btn btn-default" data-ng-click="resetData()">Cancel</button>
            </div>
        </div>

    </div>
</div>
