<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
<title>HOME</title>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/assets/css/loading-bar.css" />
    <link href="http://ksylvest.github.io/jquery-growl/stylesheets/jquery.growl.css" rel="stylesheet" type="text/css"/>
    <script src="/assets/lib/bootstrap/bootstrap-growl.min.js"></script>
    <script src="/assets/lib/openseadragon/openseadragon.js"></script>
    <script src="/assets/lib/openseadragon/openseadragon-svg-overlay.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript"  src="/assets/lib/angular-1.3.5/angular.min.js"></script>
    <script type="text/javascript"  src="/assets/lib/angular-1.3.5/angular-route.min.js"></script>
    <script type="text/javascript"  src="/assets/lib/angular-1.3.5/angular-resource.min.js"></script>
    <script type="text/javascript"  src="/assets/lib/angular-1.3.5/angular-ui-router.min.js"></script>
    <script type="text/javascript"  src="/assets/lib/ocLazyLoad/ocLazyLoad.min.js"></script>
    <script type="text/javascript"  src="/assets/lib/niceScroll/jquery.nicescroll.min.js"></script>
    <script type="text/javascript"  src="/assets/lib/angular-loading-bar/loading-bar.js"></script>
    <script type="text/javascript"  src="/app/components/common/notification.js"></script>
    <script type="text/javascript"  src="/app/app.module.js"></script>
    <script type="text/javascript"  src="/app/app.routes.js"></script>


</head>
<body data-ng-app ="visibleBrainApp" data-ng-cloak="">
    <div layout:fragment="content" class="custom-height-relative">
        <div ui-view="" class="custom-height-relative"></div>
    </div>
</body>
</html>